@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="~/image/png" href="~/assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Management Project Smart Baby</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="~/assets/css/animate.min.css" rel="stylesheet" />

    <!--  Light Bootstrap Table core CSS    -->
    <link href="~/assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="~/assets/css/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="~/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <base href="https://demos.telerik.com/kendo-ui/datetimepicker/index">
    <style>
        html {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <title></title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.material.mobile.min.css" />

    <script src="https://kendo.cdn.telerik.com/2019.1.220/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.1.220/js/kendo.all.min.js"></script>

</head>
<body>

    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="/assets/img/sidebar-5.jpg">

            <div class="sidebar-wrapper">
                <div class="logo">

                    <div class="logo">
                        <a target="_blank" href="https://github.com/AjackTi/Project-Monitor-Baby" class="simple-text">
                            TEAM 4
                        </a>
                    </div>
                </div>

                <ul class="nav">
                    <li class="active">
                        <a href=/Home/Dashboard">
                            <i class="pe-7s-graph"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="~/user.html">
                            <i class="pe-7s-user"></i>
                            <p>User Profile</p>
                        </a>
                    </li>
                    <li>
                        <a href="~/table.html">
                            <i class="pe-7s-note2"></i>
                            <p>Advice</p>
                        </a>
                    </li>
                    <li>
                        <a href="~/typography.html">
                            <i class="pe-7s-camera"></i>
                            <p>Live Camera</p>
                        </a>
                    </li>
                    <li>
                        <a href="~/icons.html">
                            <i class="pe-7s-refresh"></i>
                            <p>Transform</p>
                        </a>
                    </li>
                    <li>
                        <a href="notifications.html">
                            <i class="pe-7s-bell"></i>
                            <p>Notifications</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Dashboard</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-dashboard"></i>
                                    <p class="hidden-lg hidden-md">Dashboard</p>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret hidden-lg hidden-md"></b>
                                    <p class="hidden-lg hidden-md">
                                        5 Notifications
                                        <b class="caret"></b>
                                    </p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Notification 1</a></li>
                                    <li><a href="#">Notification 2</a></li>
                                    <li><a href="#">Notification 3</a></li>
                                    <li><a href="#">Notification 4</a></li>
                                    <li><a href="#">Another notification</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-search"></i>
                                    <p class="hidden-lg hidden-md">Search</p>
                                </a>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <p>
                                        Dropdown
                                        <b class="caret"></b>
                                    </p>

                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <p>Log out</p>
                                </a>
                            </li>
                            <li class="separator hidden-lg"></li>
                        </ul>
                    </div>
                </div>
            </nav>


            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4" style="width: 353px;">
                            <div class="card">

                                <div class="header">
                                    <h4 class="title">Motion Chart</h4>
                                    <p class="category">Motion Detection</p>
                                </div>
                                <div class="content" style="height: 466px;">
                                    <div id="motionChart"></div>
                                    <div id="example">

                                        <div class="demo-section k-content">
                                            <input id="datetimepickerMotion" title="datetimepickerMotion" style="width: 100%;" />
                                        </div>

                                        <script>
                                            $(document).ready(function () {
                                                // create DateTimePicker from input HTML element
                                                $("#datetimepickerMotion").kendoDateTimePicker({
                                                    value: new Date(),
                                                    dateInput: true
                                                });
                                                $("#datetimepickerMotion").change(function () {
                                                    $.ajax({
                                                        type: 'GET',
                                                        dataType: 'json',
                                                        url: 'http://192.168.1.12:5002/api/cameras',
//                                                        contentType: 'application/json; charset=utf-8',
                                                        success: function (result) {
                                                            console.log(result);
                                                        }
                                                    })
                                                    var startDate = kendo.toString($("#datetimepickerMotion").data("kendoDateTimePicker").value(), 'MM/dd/yyyy');
                                                    var startTime = kendo.toString($("#datetimepickerMotion").data("kendoDateTimePicker").value(), 'hh:mm tt');
                                                    console.log(startDate, startTime);
                                                })

                                                //var endtDate = kendo.toString($("#endDate").data("kendoDateTimePicker").value(), 'MM/dd/yyyy');
                                                //var endTime = kendo.toString($("#endDate").data("kendoDateTimePicker").value(), 'hh:mm tt')
                                            });
                                        </script>

                                    </div>
                                    <script>
                                        // Set up the chart
                                        var chart = new Highcharts.Chart({
                                            chart: {
                                                renderTo: 'motionChart',
                                                type: 'column',
                                                options3d: {
                                                    enabled: true,
                                                    alpha: 15,
                                                    beta: 15,
                                                    depth: 50,
                                                    viewDistance: 25
                                                }
                                            },
                                            title: {
                                                text: 'Chart rotation demo'
                                            },
                                            subtitle: {
                                                text: 'Test options by dragging the sliders below'
                                            },
                                            plotOptions: {
                                                column: {
                                                    depth: 25
                                                }
                                            },
                                            series: [{
                                                data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
                                            }]
                                        });

                                        function showValues() {
                                            $('#alpha-value').html(chart.options.chart.options3d.alpha);
                                            $('#beta-value').html(chart.options.chart.options3d.beta);
                                            $('#depth-value').html(chart.options.chart.options3d.depth);
                                        }

                                        // Activate the sliders
                                        $('#sliders input').on('input change', function () {
                                            chart.options.chart.options3d[this.id] = parseFloat(this.value);
                                            showValues();
                                            chart.redraw(false);
                                        });

                                        showValues();
                                    </script>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Camera Chart</h4>
                                    <p class="category">Camera Detect Motion Analysic</p>
                                </div>
                                <div class="content">
                                    <div id="cameraChart"></div>

                                    <div id="example">

                                        <div class="demo-section k-content">
                                            <div style="display: inline-block; width: 100%">
                                                <input id="datetimepickerCamera1" title="datetimepickerCamera1" style="width: 50%; float: left;" />
                                                <input id="datetimepickerCamera2" title="datetimepickerCamera2" style="width: 50%; float: right;" />
                                            </div>
                                        </div>

                                        <script>
                                            $(document).ready(function () {
                                                // create DateTimePicker from input HTML element
                                                $("#datetimepickerCamera1").kendoDateTimePicker({
                                                    value: new Date(),
                                                    dateInput: true
                                                });
                                                $("#datetimepickerCamera2").kendoDateTimePicker({
                                                    value: new Date(),
                                                    dateInput: true
                                                });
                                            });
                                        </script>

                                    </div>

                                    <script>
                                        Highcharts.chart('cameraChart', {
                                            chart: {
                                                zoomType: 'xy'
                                            },
                                            title: {
                                                text: 'Average Monthly Temperature and Rainfall in Tokyo'
                                            },
                                            subtitle: {
                                                text: 'Source: WorldClimate.com'
                                            },
                                            xAxis: [{
                                                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                                                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                                                crosshair: true
                                            }],
                                            yAxis: [{ // Primary yAxis
                                                labels: {
                                                    format: '{value}°C',
                                                    style: {
                                                        color: Highcharts.getOptions().colors[1]
                                                    }
                                                },
                                                title: {
                                                    text: 'Temperature',
                                                    style: {
                                                        color: Highcharts.getOptions().colors[1]
                                                    }
                                                }
                                            }, { // Secondary yAxis
                                                title: {
                                                    text: 'Rainfall',
                                                    style: {
                                                        color: Highcharts.getOptions().colors[0]
                                                    }
                                                },
                                                labels: {
                                                    format: '{value} mm',
                                                    style: {
                                                        color: Highcharts.getOptions().colors[0]
                                                    }
                                                },
                                                opposite: true
                                            }],
                                            tooltip: {
                                                shared: true
                                            },
                                            legend: {
                                                layout: 'vertical',
                                                align: 'left',
                                                x: 120,
                                                verticalAlign: 'top',
                                                y: 100,
                                                floating: true,
                                                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || 'rgba(255,255,255,0.25)'
                                            },
                                            series: [{
                                                name: 'Rainfall',
                                                type: 'column',
                                                yAxis: 1,
                                                data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4],
                                                tooltip: {
                                                    valueSuffix: ' mm'
                                                }

                                            }, {
                                                name: 'Temperature',
                                                type: 'spline',
                                                data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6],
                                                tooltip: {
                                                    valueSuffix: '°C'
                                                }
                                            }]
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-6">
                            <div class="card ">
                                <div class="header">
                                    <h4 class="title">Sound Chart</h4>
                                    <p class="category">Sound Detection</p>
                                    <div id="soundChart"></div>
                                    <div id="example">

                                        <div class="demo-section k-content">
                                            <div style="display: inline-block; width: 100%">
                                                <input id="datetimepickerSound1" title="datetimepickerSound1" style="width: 50%; float: left;" />
                                                <input id="datetimepickerSound2" title="datetimepickerSound2" style="width: 50%; float: right;" />
                                            </div>
                                        </div>

                                        <script>
                                            $(document).ready(function () {
                                                // create DateTimePicker from input HTML element
                                                $("#datetimepickerSound1").kendoDateTimePicker({
                                                    value: new Date(),
                                                    dateInput: true
                                                });

                                                $("#datetimepickerSound2").kendoDateTimePicker({
                                                    value: new Date(),
                                                    dateInput: true
                                                });
                                            });
                                        </script>

                                    </div>
                                </div>
                                <script>
                                    Highcharts.chart('soundChart', {
                                        chart: {
                                            plotBackgroundColor: null,
                                            plotBorderWidth: null,
                                            plotShadow: false,
                                            type: 'pie'
                                        },
                                        title: {
                                            text: 'Sound Chart Between '
                                        },
                                        tooltip: {
                                            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                                        },
                                        plotOptions: {
                                            pie: {
                                                allowPointSelect: true,
                                                cursor: 'pointer',
                                                dataLabels: {
                                                    enabled: true,
                                                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                                    style: {
                                                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                                    }
                                                }
                                            }
                                        },
                                        series: [{
                                            name: 'Brands',
                                            colorByPoint: true,
                                            data: [{
                                                name: 'Chrome',
                                                y: 61.41,
                                                sliced: true,
                                                selected: true
                                            }, {
                                                name: 'Internet Explorer',
                                                y: 11.84
                                            }, {
                                                name: 'Firefox',
                                                y: 10.85
                                            }, {
                                                name: 'Edge',
                                                y: 4.67
                                            }, {
                                                name: 'Safari',
                                                y: 4.18
                                            }, {
                                                name: 'Sogou Explorer',
                                                y: 1.64
                                            }, {
                                                name: 'Opera',
                                                y: 1.6
                                            }, {
                                                name: 'QQ',
                                                y: 1.2
                                            }, {
                                                name: 'Other',
                                                y: 2.61
                                            }]
                                        }]
                                    });
                                </script>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card ">
                                <div class="header">
                                    <h4 class="title">Advice For Parents with My Baby</h4>
                                </div>
                                <div class="content" style="height: 462px">
                                    <div class="table-full-width">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="checkbox">
                                                            <input id="checkbox1" type="checkbox">
                                                            <label for="checkbox1"></label>
                                                        </div>
                                                    </td>
                                                    <td>Understanding Baby Sleep Music</td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                            <i class="fa fa-eye ui-content" role="main"> <a href="#" class="ui-btn ui-btn-b ui-btn-icon-left ui-icon-info ui-corner-all" id="foo"></a></i>
                                                        </button>
                                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                            <i class="fa fa-times"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="checkbox">
                                                            <input id="checkbox2" type="checkbox" checked>
                                                            <label for="checkbox2"></label>
                                                        </div>
                                                    </td>
                                                    <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                            <i class="fa fa-eye"></i>
                                                        </button>
                                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                            <i class="fa fa-times"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="checkbox">
                                                            <input id="checkbox3" type="checkbox">
                                                            <label for="checkbox3"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                                    </td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                            <i class="fa fa-eye"></i>
                                                        </button>
                                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                            <i class="fa fa-times"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="checkbox">
                                                            <input id="checkbox4" type="checkbox" checked>
                                                            <label for="checkbox4"></label>
                                                        </div>
                                                    </td>
                                                    <td>Create 4 Invisible User Experiences you Never Knew About</td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                            <i class="fa fa-eye"></i>
                                                        </button>
                                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                            <i class="fa fa-times"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="checkbox">
                                                            <input id="checkbox5" type="checkbox">
                                                            <label for="checkbox5"></label>
                                                        </div>
                                                    </td>
                                                    <td>Read "Following makes Medium better"</td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                            <i class="fa fa-eye"></i>
                                                        </button>
                                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                            <i class="fa fa-times"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="checkbox">
                                                            <input id="checkbox6" type="checkbox" checked>
                                                            <label for="checkbox6"></label>
                                                        </div>
                                                    </td>
                                                    <td>Unfollow 5 enemies from twitter</td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                            <i class="fa fa-eye"></i>
                                                        </button>
                                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                            <i class="fa fa-times"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


</body>

<!--   Core JS Files   -->
<script src="~/assets/js/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="~/assets/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Charts Plugin -->
<script src="~/assets/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="~/assets/js/bootstrap-notify.js"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdanJlxl4OLIxvUC5IXfH2E-rYKuROMwU"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="~/assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>

<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="~/assets/js/demo.js"></script>

</html>
