@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Index</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/css/styleindex.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>

    <!--==========================
    Header
    ============================-->
    <header id="header">
        <div class="container">
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="#hero">Home</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#team">Team</a></li>
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->
    <!--==========================
      Hero Section
    ============================-->
    <section id="hero">
        <div class="hero-container">
            <h1>Welcome to My Project</h1>
            <h2>This is a project of my team is SMART BABY</h2>
            <a href="#about" class="btn-get-started">Get Started</a>
        </div>
    </section>
    <!-- #hero -->

    <main id="main">

        <!--==========================
          About Us Section
        ============================-->
        <section id="about">
            <div class="container">
                <div class="row about-container">

                    <div class="col-lg-6 content order-lg-1 order-2">
                        <h2 class="title">ABOUT US</h2>
                        <p>
                            Đây là đồ án tốt nghiệp của nhóm 4. Đồ án về lĩnh vực IOT.
                        </p>

                        <div class="icon-box wow fadeInUp">
                            <div class="icon" style="cursor: pointer;"><i class="fa fa-shopping-bag"></i></div>
                            <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
                            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                        </div>

                        <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                            <div class="icon" style="cursor: pointer;"><i class="fa fa-photo"></i></div>
                            <h4 class="title"><a href="">Magni Dolores</a></h4>
                            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                        </div>

                        <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                            <div class="icon" style="cursor: pointer;"><i class="fa fa-bar-chart"></i></div>
                            <h4 class="title"><a href="">Biểu Đồ</a></h4>
                            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
                        </div>

                    </div>

                    <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
                </div>
                <div class="row" style="padding-top: 10px; margin: 0 auto;">
                    <div class="col-lg-12 col-sm-12">
                        <button type="button" href="#services" class="btn btn-success">Explore It Now</button>
                    </div>
                </div>
            </div>
        </section>
        <!-- #about -->
        <div style="padding-bottom: 300px;"></div>
        <!--==========================
          Services Section
        ============================-->
        <section id="services" style="margin: 0 auto;">
            <div class="container wow fadeIn">
                <div class="section-header">
                    <h3 class="section-title">Services</h3>
                    <p class="section-description">Set Up Your API On Raspberry Pi Now</p>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div id="groupAPI">
                            <input type="text" class="form-control" id="txtAPI"
                                   style="width: 500px; margin-bottom: 10px; border-color: blueviolet; border-radius: 5px;"
                                   minlength="7" maxlength="15" size="15" pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$">
                            <button type="button" class="btn btn-success" id="btnAPI">Get It Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            $(document).ready(function () {
                $('#btnAPI').click(function () {
                    if ($('#txtAPI').val() === "") {
                        return;
                    }
                    $.ajax({
                        type: 'GET',
                        dataType: 'json',
                        cache: false,
                        url: 'https://'+ $('#txtAPI').val() + ':5002/api/informations',
                        contentType: 'application/json; charset=utf-8',
                        success: function (result) {
                            if (result.length > 1) {
                                console.log("okok");
                                SaveJson({ "ipaddress": $('#txtAPI').val(), "time": new Date().toLocaleString() })
                                window.location.href = "https://localhost:44319/Home/Login";
                            }
                            //console.log(result);
                        },
                        error: function (result) {
                            //console.log(result);
                        }

                    });
                })

                function SaveJson(data) {
                    var fs = require('fs');
                    fs.writeFile("ipapi.json", data, function (err) {
                        if (err) {
                            console.log(err);
                        }
                    });
                }
            });
        </script>
        <!-- #services -->
        <div style="padding-bottom: 400px;"></div>
        <!--==========================
          Team Section
        ============================-->
        <section id="team">
            <div class="container wow fadeInUp">
                <div class="section-header">
                    <h3 class="section-title">My Team</h3>
                </div>
                <div style="padding-bottom: 100px;"></div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="member">
                            <div class="pic"><img src="~/img/team-2.png" alt="" style="width: 200px; height: 200px; border-radius: 50%;"></div>
                            <h4>Đặng Võ Đức Trọng</h4>
                            <span>Sinh Viên 1</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="member">
                            <div class="pic"><img src="~/img/team-3.jpg" alt="" style="width: 200px; height: 200px; border-radius: 50%;"></div>
                            <h4>Nguyễn Thành Nhân</h4>
                            <span>Sinh Viên 2</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- #team -->
        <div style="padding-bottom: 300px;"></div>
    </main>

    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">

                <div id="row">
                    <div class="col-lg-12" style="text-align: center; vertical-align: middle;">
                        <h2>
                            Trường Đại học Công Nghiệp TPHCM
                        </h2>
                    </div>
                    <div class="col-lg-12" style="text-align: center; vertical-align: middle;">
                        <h4>
                            Khoa Công nghệ thông tin
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="container ">
        </div>
    </footer>
    <!-- #footer -->

    <a href="# " class="back-to-top "><i class="fa fa-chevron-up "></i></a>

    <!-- JavaScript Libraries -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery/jquery-migrate.min.js "></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js "></script>
    <script src="~/lib/easing/easing.min.js "></script>
    <script src="~/lib/wow/wow.min.js "></script>
    <script src="~/lib/waypoints/waypoints.min.js "></script>
    <script src="~/lib/counterup/counterup.min.js "></script>
    <script src="~/lib/superfish/hoverIntent.js "></script>
    <script src="~/lib/superfish/superfish.min.js "></script>
    <script src="~/js/require.js"></script>

    <!-- Template Main Javascript File -->
    <script src="~/js/main.js "></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</body>

</html>