@using WebApplication.Common;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width" />
    <title>Sign Up</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    @{
        var ipAddress = "https://" + Common.ipRas;
        var port = Common.port;

    }
    <div class="main">

        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form">
                        <h2 class="form-title">Create account</h2>
                        <div class="form-group">
                            <input type="text" class="form-input" name="name" id="txtUsername" placeholder="Your Name" />
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-input" name="email" id="txtEmail" placeholder="Your Email" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="password" id="password" placeholder="Password" />
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="re_password" id="re_password" placeholder="Repeat your password" />
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="btnSubmit" class="form-submit" value="Sign up" />
                        </div>
                    </form>
                    <p class="loginhere">
                        Have already an account ? <a href="/Home/Login/" class="loginhere-link">Login here</a>
                    </p>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/js/main.js"></script>
    <script type="text/javascript">
        // background - image: url("~/images/signup-bg.jpg");
        var myArray = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
        var rand = myArray[Math.floor(Math.random() * myArray.length)];
        console.log(rand);
        $('body').css('background-image', "url('/images/signup-bg_" + rand + ".jpg'");
        $('body').css('background-position', "center");
        $('body').css('background-repeat', "no-repeat");
        $('body').css('background-attachment', "fixed");
        $(document).ready(function () {
            $('#btnSubmit').click(function () {
                debugger;
                if ($('#txtUsername').val() == "" && $('#txtPassword').val() == "") {
                    alert("Empty Username and Password");
                }
                else {
                    var username = $('#txtUsername').val();
                    var email = $('#txtEmail').val();
                    var password = $('#password').val();
                    var re_password = $('#re_password').val();
                    var api_url = '@ipAddress:@port/api/postInformation/' + username + '/' + password + '/' + email;
                    console.log(api_url);
                    $.ajax({
                        url: api_url,
                        type: 'POST',
                        cache: false,
                        contentType: 'application/json; charset=utf-8',
                        datatype: "json",
                        success: function (result) {
                            debugger;
                            console.log(result);
                            alert("Register Success");
                            window.location.href = "https://localhost:44319/Home/Login";
                        },
                        error: function (result) {
                            debugger;
                            console.log(result);
                            alert("Error When Signing Up");
                            continue;
                        }
                    })
                }
            })
        });
    </script>
</body>
</html>